<div class="container">
  <h1 class="title">{{ title }}</h1>
  <h2 class="timer">{{ formatTime() }}</h2>

  <button *ngIf="!isRunning" class="start-btn" (click)="startTimer()">Start</button>
  <button *ngIf="isRunning" class="pause-btn" (click)="pauseTimer()">Pause</button>
  <button *ngIf="!breakActive" class="break-btn" (click)="toogleBreak()">Break</button>
  <button *ngIf="breakActive" class="focus-btn" (click)="toogleBreak()">Focus!</button>
  <button class="reset-btn" (click)="resetTimer()">Reset</button>
</div>
